.formpilotos {
    justify-content: center;
    align-items: center;
    color: var(--colorWhite);
    background-color: rgba(128, 138, 154, 0.5);
    border-radius: 6%;
    margin-bottom: 15px;
}

.form {
    border-radius: 6%;
    background-color: var(--colorOrange);
}
.formpilotos input,
.form input {
    width: 75%;
    box-sizing: border-box; 
    margin-bottom: 10px; 
}