.section-cards {
    justify-content: center;
}
.size-name {
    width: 300px;
    color: var(--colorOrange)
}

.card{
    width: fit-content !important;
    background-color: #212529;
    opacity: 0.93;
    color: rgb(123, 133, 172);
    font-size: x-small;
    
}
.img-card {
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}

.list-group{
    width: 350px!important;
}
.list-group-item{
    background-color: transparent !important;
    color: whitesmoke !important;
    font-size: 1.2rem;
    
}
.list-group-item:hover{
    background-color: #9fa2a1 !important;
    color: #344D67!important;
    cursor: pointer;
}
.btn-info {
    background-color: #9fa2a1;
    color: white;
    font-size: small;
    margin-right: 10px;
    width: 150px;
}
.btn-info:hover {
        background-color: var(--colorOrange);
}
.btn-del {
    background-color: transparent;
    margin-top: 5px;
}
.btn-del:hover {
    background-color: var(--colorOrange);
}
 
.bi {
 color: white;
 padding-left: 25px;
 padding-right: 25px;
 box-sizing: content-box;
}

@media(max-width:800px){
    .more-info-section{
        padding: 1rem!important;
    }
}
@media(max-width:500px){
    .card{
        flex-direction: column!important;
    }
    .btn-x-md{
        visibility: hidden;
    }
    .btn-x-sm{
        display: block!important;
    }
    .list-group-item{
        width: 100%;
    }
}