.titulo {
    margin-bottom: 5px;
}

.navlink{
    border-radius: var(--bs-nav-pills-border-radius);
}
.agregar {
    margin-bottom: 25px;
    border-radius: 8%;
}
.section-cards {
    justify-content: center;
}


.collapse:not(.show) {
    display: flex;
}


@media(max-width:800px){

    .collapse:not(.show) {
        display: none;
    }
    .bi-sliders {
        display:block

    }


}
