.suyai-text {
  color: var(--colorOrange);
  margin-left: 10px;
  font-family: 'Black Ops One';
  font-weight: bold;
}


:root{ 
  --colorOrange: rgb(254, 80, 30);
  --colorWhite:#F5F5F5;
  --colorBlack:#000000;
  --colordarkGray:linear-gradient(94deg, rgb(46, 45, 45) 0%, rgb(126, 126, 126) 100%);
  --colordarkGrayR:linear-gradient(94deg, rgb(126, 126, 126) 0%,  rgb(46, 45, 45)  100%);
  --colorMediumGray:#bdbaba;
  --colorBgGray: linear-gradient(94deg, rgb(174, 172, 171) 0%, rgb(235, 208, 181) 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');



