
 /*   
@media(max-width:900px){
    .carreras-div>h3,.text-send{
        font-size: 1em ;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    
    }
    .carreras-div>h2{
        font-size: 2em;
    }

}



@media(max-width:650px){
    .carreras-div{
        width: 100%!important;
    }
    .carreras-div>h3,.text-send{
        font-size: 1em ;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    
    }
    .carreras-div>h2{
        font-size: 2em;
    }

}
*/